 *{
     padding: 0px;
     margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.data-main{
    height: 100vh;
    width: 100%;
   top: 75px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: -1;
}
.user-info{
    width: 80%;
    height: 700px;
    background-color: whitesmoke;
    padding: 50px;
}
.student-table{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 150px;
}
.information-table{
    width: 90%;
    height: 100vh;
    margin-left: 5%
}
.heading2{
    margin-top: 30px;
    font-size: 50px;
    font-weight: bolder;
    font-family: Castellar;
    color: red;
}